@import "icons-util.css";

:root {
    --sl-color-accent-high: hsl(120, 50%, 42%);
    --sl-color-accent: hsl(120, 55%, 34%);
    --sl-color-accent-low: hsl(120, 55%, 37%);
    --sl-hero-color: hsla(120, 61%, 66%, 20%);
}

:root[data-theme='light'] {
    --sl-color-accent-high: hsl(120, 49%, 32%);
    --sl-color-accent: hsl(120, 37%, 56%);
    --sl-color-accent-low: hsl(120, 52%, 45%);
    --sl-hero-color: hsla(120, 70%, 70%, 15%);
}

.tooltip {
    position: absolute;
    z-index: 1000;
    background-color: var(--sl-color-black);
    color: var(--sl-color-text);
    padding: 8px;
    border-radius: 8px;
    box-shadow: var(--sl-shadow-lg);
    font-size: var(--sl-text-sm);
}

